{% extends "layout.html" %}

{% set title = "WeBrave | Главная" %}

{% block content %}
	<main>
		<section class="bg-content">
			<h1>Создание и <a href="#">продвижение</a> сайтов в Праге</h1>
			<img src="images/slider_bg.jpg" alt="Slider">
		</section>

		<section class="about" id="about">
			<div class="container container--sm">
				<div class="about__layout">
					<div class="about__title">
						<p>О нас</p>
					</div>

					<div class="about__text">
						<p>Продвижение, раскрутка, SEO оптимизация сайтов - это все мы, фирма которая занимается этим в Праге, и подходит к продвижению сайта в ТОП используя все наши творческие стороны, и большую фантазию, а не просто используя готовые механические методы.
							Ведь правда, поисковые роботы умнеют с каждым днем и нужно иметь не мало смекалки, и фантазии, что бы влюбить их в сайт, и дать им понять, что именно Ваш сайт на базе десятков, сотен, а то и тысяч подобных по тематике сайтов является самым Информативным, самым Быстрым, и самым Удобным. В этом и заключается наша миссия уже многие годы.
							Путем проб и ошибок, мы поняли в какое вечернее платье или смокинг, нужно нарядить ваш сайт, дабы именно его поисковый робот поднял в ТОП и не отпускал!
						</p>
					</div>

					<ul class="about__list">
						<li>Мы даем гарантию, что Ваш сайт будет в ТОПе.</li>
						<li>Мы всегда поддерживаем наших клиентов, как во время продвижения, так и после.</li>
						<li>Вы будите получать отчеты, о состоянии Вашего сайта каждую неделю.</li>
						<li>Для вашего спокойствия, мы предоставляем гибкую систему оплаты.</li>
						<li>Мы всегда открыты для предложений и используем индивидуальный подход к каждому клиенту.</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="serv" id="serv">
			<div class="container"> 
				<div class="serv__title">
					<p>Наши услуги</p>
				</div>

				<div class="serv__list">
					<div class="serv__item wow slideInLeft" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: slideInLeft;">
						<div class="serv__item__img">
							<img src="images/sev_item1.png">
						</div>

						<div class="serv__item__title">
							<p>Сайт в ТОП</p>
						</div>

						<div class="serv__item__text">
							<p>Полная СЕО оптимизация от начала до конца, с полным набором функций,
								настройкой сайта, регистрацией во всех сервисах, рекламой, отчетностью и т.д.
							</p>
						</div>

						<div class="serv__item__buttons">
							<a class="btn" href="agenturni.html">подробнее</a>
						</div>
					</div>

					<div class="serv__item wow slideInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: slideInUp;">
						<div class="serv__item__img">
							<img src="images/sev_item2.png">
						</div>
						<div class="serv__item__title">
							<p>Рекламирование</p>
						</div>
						<div class="serv__item__text">
							<p>Качественная настройка и создание контекстной, баннерной рекламы в
								популярных поисковых сервисах с минимальными затратами за клик и т.д.
							</p>
						</div>
						<div class="serv__item__buttons">
							<a class="btn" href="outsourcing.html">подробнее</a>
						</div>
					</div>

					<div class="serv__item wow slideInRight" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: slideInRight;">
						<div class="serv__item__img">
							<img src="images/sev_item3.png">
						</div>

						<div class="serv__item__title">
							<p>Базовый сервис</p>
						</div>

						<div class="serv__item__text">
							<p>Базовая аналитика, настройка и адаптация Вашего сайта под популярные
								поисковые системы, регистрация в определенных сервисах, консультацией, прогнозами и т.д.
							</p>
						</div>

						<div class="serv__item__buttons">
							<a class="btn" href="#">подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="folio bg-content">
			<div class="container container--lg">
				<h2>Примеры наших работ</h2>

				<ul class="folio__list">
					<li class="folio__item">
						<a href="images/sideways_screenshot.jpg" data-fancybox="folio"><img src="images/sideways.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/business_screenshot.jpg" data-fancybox="folio"><img src="images/business.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/global_screenshot.jpg" data-fancybox="folio"><img src="images/global.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/health_screenshot.jpg" data-fancybox="folio"><img src="images/health_img.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/makeup_screenshot.jpg" data-fancybox="folio"><img src="images/Makeup.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/managers_screenshot.jpg" data-fancybox="folio"><img src="images/managers.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/otavan_screenshot.jpg" data-fancybox="folio"><img src="images/otavan.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/stavgeo_screenshot.jpg" data-fancybox="folio"><img src="images/stav-geo.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/stomat_screenshot.jpg" data-fancybox="folio"><img src="images/stomat_img.png" alt="Folio item"></a>
					</li>
					<li class="folio__item">
						<a href="images/hosting_screenshot.jpg" data-fancybox="folio"><img src="images/data.png" alt="Folio item"></a>
					</li>
				</ul>

				<div class="folio__more">
					<a href="folio.html" class="btn">посмотреть больше работ</a>
				</div>
			</div>
		</section>

		<section class="fast-contact">
			<button type="button" data-fast-contact class="fast-contact__button" data-modal-open><i class="icon icon--phone"></i></button>

			<div class="fast-contact__layout" data-modal>
				<form class="form" method="post" action="#">
					<div class="form__input">
						<input type="text" placeholder="Имя">
					</div>

					<div class="form__input">
						<input type="tel" placeholder="Телефон">
					</div>

					<div class="form__input">
						<input type="email" placeholder="E-mail">
					</div>

					<div class="form__input form__input--textarea">
						<textarea placeholder="Сообщение"></textarea>
					</div>

					<div class="form__submit">
						<button type="reset" class="btn">Очистить</button>
						<button type="submit" class="btn">Отправить</button>
					</div>
				</form>
			</div>
		</section>
	</main>
{% endblock %}