.btn {
  height: 33px;
  display: inline-flex;
  box-sizing: border-box;
  padding: 0 10px;
  background: #51ce42;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  color: white;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all .2s;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $orange;
  }
}