@font-face {
  font-family: "Helv";
  src: url(../fonts/helv.ttf);
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Gloria";
  src: url(../fonts/GloriaHallelujah.ttf);
}

$font: "Helv", sans-serif;
$fontLogo: "Gloria", sans-serif;