@font-face {
  font-family: "Helv";
  src: url(../fonts/helv.ttf);
}

@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto-Bold.ttf);
}

$font: "Helv", sans-serif;
$fontRobotoBold: "RobotoBold", sans-serif;