@font-face {
  font-family: "Helv";
  src: url(../fonts/helv.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

$font: "Helv", sans-serif;
$fontPoppinsMedium: "Poppins", sans-serif;